/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Hero section */
.hero {
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px 0;
}

.hero h2 {
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

/* Courses section */
.courses {
    margin-top: 40px;
}

.course {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.course img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.course h3 {
    margin-top: 0;
}

.course p {
    margin-bottom: 20px;
}

.course a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.course a:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.red{
    display: inline-block;
    background-color: #b81e1e;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.blue{
    display: inline-block;
    background-color: #232281;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.green{
    display: inline-block;
    background-color: #138819;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.reset
{
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}